XML/emailpayroll.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2018 (https://www.liquid-technologies.com)-->
<schema xmlns:tns="http://www.ems.com/emailpayroll" elementFormDefault="qualified" targetNamespace="http://www.ems.com/emailpayroll" xmlns="http://www.w3.org/2001/XMLSchema">
    <complexType name="emailpayroll">
        <sequence>
            <element name="EID" type="integer" minOccurs="1" />
            <element name="Name" type="string" minOccurs="1" />
            <element name="email" type="string" minOccurs="1" />
            <element name="amount" type="float" minOccurs="1" />
            <element name="period" type="string" minOccurs="1" />
        </sequence>
    </complexType>
    <element name="emailpayroll" type="tns:emailpayroll" />
    <complexType name="emailpayrolls">
        <sequence>
            <element ref="tns:emailpayroll" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
    </complexType>
    <element name="emailpayrolls" type="tns:emailpayrolls" />
</schema>