XML/employees.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Studio 2018 (https://www.liquid-technologies.com) -->
<schema xmlns:tns="http://www.ems.com/Employees" elementFormDefault="qualified" targetNamespace="http://www.ems.com/Employees" xmlns="http://www.w3.org/2001/XMLSchema">
    <complexType name="Employee">
        <sequence>
            <element name="id" type="integer" minOccurs="1" />
            <element name="name" type="string" minOccurs="1" />
            <element name="address" type="string" minOccurs="1" />
            <element name="phone" type="integer" minOccurs="1" />
            <element name="sex" type="string" minOccurs="1" />
            <element name="nationality" type="string" minOccurs="1" />
        </sequence>
    </complexType>
    <element name="Employee" type="tns:Employee" />
    <complexType name="Employees">
        <sequence>
            <element ref="tns:Employee" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
    </complexType>
    <element name="Employees" type="tns:Employees" />
</schema>