XML/schedules.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2018 (https://www.liquid-technologies.com)-->
<schema xmlns:tns="http://www.ems.com/Schedule" elementFormDefault="qualified" targetNamespace="http://www.ems.com/Schedule" xmlns="http://www.w3.org/2001/XMLSchema">
    <complexType name="Schedule">
        <sequence>
            <element name="id" type="integer" minOccurs="1" />
            <element name="employeeid" type="integer" minOccurs="1" />
            <element name="PlannedStartWork" type="string" minOccurs="1" />
            <element name="PlannedEndWork" type="float" minOccurs="1" />
        </sequence>
    </complexType>
    <element name="Schedule" type="tns:Schedule" />
    <complexType name="Schedules">
        <sequence>
            <element ref="tns:Schedule" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
    </complexType>
    <element name="Schedules" type="tns:Schedules" />
</schema>